---
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer id="about">
  <header class="text-center">
    <h2 class="text-6xl font-bold mb-10">Quienes somos?</h2>
  </header>
  <main class="text-center mx-12">
    <p>
      El estudio jurídico se compone de abogados altamente cualificados con
      experiencia en diversas áreas del derecho, como laboral, civil, comercial,
      penal y administrativo. Su enfoque se centra en comprender y defender los
      intereses reales de los clientes, proporcionando soluciones adaptadas a
      sus necesidades. Especializados en derecho laboral, resuelven conflictos,
      asesoran en relaciones laborales, negociaciones sindicales, contratos y
      despidos. En derecho civil, se ocupan de contratos, responsabilidad civil,
      propiedad y sucesiones. En derecho comercial, ofrecen servicios en
      contratos y litigios comerciales, derecho de sociedades, quiebras, entre
      otros. En el ámbito penal, defienden clientes en procedimientos penales y
      asesoran en delitos económicos, contra personas, entre otros. En derecho
      administrativo, brindan asesoramiento en procedimientos y recursos
      administrativos, licitaciones públicas y contratación con el Estado. La
      prioridad es la satisfacción del cliente, proporcionando un servicio legal
      de calidad, profesionalismo y ética, buscando soluciones efectivas y
      favorables para sus intereses.
    </p>
  </main>
</SectionContainer>
