---

---

<section id="areas-de-practica" class="bg-gray-100 mt-5 p-1">
  <h1 class="text-3xl font-bold my-8 text-center">Áreas de Práctica</h1>

  <section class="p-8 flex flex-wrap justify-center">
    <!-- Derecho Civil -->
    <div class="card bg-white p-5 m-5 w-64 rounded-lg">
      <h2 class="text-lg font-semibold mb-2">Derecho Civil</h2>
      <ul class="list-disc pl-6">
        <li>Contratos: Elaboración, revisión y negociación.</li>
        <li>Responsabilidad civil: Defensa en casos de daños.</li>
        <li>Propiedad: Asesoramiento en temas inmobiliarios.</li>
        <li>Sucesiones: Planificación sucesoria y testamentos.</li>
      </ul>
    </div>

    <!-- Derecho Laboral -->
    <div class="card bg-white p-5 m-5 w-64 rounded-lg">
      <h2 class="text-lg font-semibold mb-2">Derecho Laboral</h2>
      <ul class="list-disc pl-6">
        <li>Conflictos laborales: Defensa en despidos y reclamaciones.</li>
        <li>Relaciones laborales: Asesoramiento en negociaciones.</li>
        <li>Seguridad Social: Asesoramiento en pensiones y beneficios.</li>
        <li>Cumplimiento normativo: Asesoramiento en normativas laborales.</li>
        <li>Asesoría educativa: Para docentes y personal educativo.</li>
      </ul>
    </div>

    <!-- Derecho Comercial -->
    <div class="card bg-white p-5 m-5 w-64 rounded-lg">
      <h2 class="text-lg font-semibold mb-2">Derecho Comercial</h2>
      <ul class="list-disc pl-6">
        <li>
          Derecho de sociedades: Asesoramiento en constitución y fusiones.
        </li>
        <li>Contratos comerciales: Elaboración y revisión de contratos.</li>
        <li>Litigios comerciales: Defensa en disputas y incumplimientos.</li>
      </ul>
    </div>

    <!-- Derecho Penal -->
    <div class="card bg-white p-5 m-5 w-64 rounded-lg">
      <h2 class="text-lg font-semibold mb-2">Derecho Penal</h2>
      <ul class="list-disc pl-6">
        <li>Defensa penal: Representación en procesos penales.</li>
        <li>Recursos penales: Presentación de recursos y apelaciones.</li>
        <li>Derecho penitenciario: Asesoramiento en ejecución de penas.</li>
      </ul>
    </div>
  </section>
</section>

<style>
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
</style>
