---
const { className } = Astro.props;
interface Props {
  title: string;
  contentList: string[];
  className?: string;
}
---

<div class={`${className}`}>
  <header class="text-start">
    <h2 class="text-xl font-bold">{Astro.props.title}</h2>
  </header>
  <main class="">
    <ul>
      {
        Astro.props.contentList.map((content) => (
          <li class="">{content}</li>
        ))
      }
    </ul>
  </main>
</div>
