---
import SectionContainer from "./SectionContainer.astro";
import Title from "./Title.astro";
import Imagen from "./Imagen.astro";

const items = [
  {
    title: "Derecho Laboral",
  },
  {
    title: "Derecho Administrativo",
  },
  {
    title: "Derecho Civil y Responsabilidad Civil",
  },
  {
    title: "Derecho del Trabajo y Seguridad Social",
  },
  {
    title: "Derecho Administrativo Sancionador",
  },
  {
    title: "Litigios y Resolución Alternativa de Conflictos",
  },
];
---

<SectionContainer id="educacion" className="px-8 md:px-16 lg:px-20 xl:px-24">
  <h1 class="text-3xl font-bold mb-3 text-center text-sky-950">Educación</h1>
  <section class="flex flex-col sm:flex-row sm:gap-5 sm:mb-10 sm:px-5">
    <p class="w-full sm:w-1/3 text-sky-800">
      Nuestro estudio posee un departamento especializado en asesoría a
      docentes, asistentes de la educación y sostenedores de establecimientos
      educacionales que se caracteriza por ofrecer una amplia gama de servicios
      legales destinados a atender las necesidades específicas de este sector.
      Entre los servicios que otorga nuestro estudio se incluye:
    </p>
    <div class="w-full sm:w-2/3 h-32 hidden sm:block">
      <Imagen
        className="object-cover w-full h-full sm:h-52 hidden sm:block"
        src="image4.webp"
        alt="imagen de educacion"
      />
    </div>
  </section>
  <main class="p-5 grid grid-cols-1 sm:grid-cols-3 gap-5">
    {
      items.map((item, index) => (
        <Title
          key={index}
          className="bg-emerald-300 text-xl rounded-xl h-16 flex justify-center items-center text-center"
          title={item.title}
        />
      ))
    }
  </main>
</SectionContainer>

