---
import SectionContainer from "./SectionContainer.astro";
import Title from "./Title.astro";
import Imagen from "./Imagen.astro";

const items = [
  {
    title: "Derecho Laboral",
  },
  {
    title: "Derecho Administrativo",
  },
  {
    title: "Derecho Civil y Responsabilidad Civil",
  },
  {
    title: "Derecho del Trabajo y Seguridad Social",
  },
  {
    title: "Derecho Administrativo Sancionador",
  },
  {
    title: "Litigios y Resolución Alternativa de Conflictos",
  },
];
---

<SectionContainer id="educacion" className="p-20">
  <h1 class="text-3xl font-bold mb-3 text-center">Educación</h1>
  <section class="flex gap-20 p-10 text-justify">
    <p class="w-1/3">
      Nuestro estudio posee un departamento especializado en asesoría a
      docentes, asistentes de la educación y sostenedores de establecimientos
      educacionales que se caracteriza por ofrecer una amplia gama de servicios
      legales destinados a atender las necesidades específicas de este sector.
      Entre los servicios que otorga nuestro estudio se incluye:
    </p>
    <div class="w-3/5">
      <Imagen
        className="w-full h-60"
        src="../../public/wp.jpg"
        alt="imagen de educacion"
      />
    </div>
  </section>
  <main class="p-10 grid grid-cols-3 grid-rows-2 gap-7">
    {
      items.map((item, index) => (
        <Title
          key={index}
          className="bg-emerald-300 rounded-xl h-14 flex justify-center items-center text-center text-sm"
          title={item.title}
        />
      ))
    }
  </main>
</SectionContainer>
