---
---
<nav class="bg-white text-right p-8 fixed z-10 w-full">
	<a href="#home" class="text-mg m-3 hover:text-blue-400">Inicio</a>
	<a href="#about" class="text-mg m-3 hover:text-blue-400">Quienes somos</a>
	<a href="#areas-de-practica" class="text-mg m-3 hover:text-blue-400">Áreas de práctica</a>
	<a href="#contacto" class="text-mg m-3 mr-52 hover:text-blue-400">Contacto</a>
</nav>

