---

---

<header class="flex justify-between items-center">
	<h1 class="text-3xl font-bold text-center ml-36">VMLAbogados</h1>
  <nav class="bg-white text-right p-8 w-full">
    <a href="#home" class="text-mg m-3 hover:text-blue-400">Inicio</a>
    <a href="#areas-de-practica" class="text-mg m-3 hover:text-blue-400"
      >Áreas de práctica</a
    >
    <a href="#educacion" class="text-mg m-3 hover:text-blue-400">Educación</a>
    <a href="#contacto" class="text-mg m-3 mr-52 hover:text-blue-400"
      >Contacto</a
    >
  </nav>
</header>
