---
import SectionContainer from "./SectionContainer.astro";
import Header from "../components/Header.astro";
import Imagen from "../components/Imagen.astro";
---

<SectionContainer id="home">
  <Header className="h-20" />
  <div class="relative w-full h-5/6 sm:h-96 aspect-w-16 aspect-h-9">
    <Imagen
      className="object-cover w-full h-full"
      src="/image1.webp"
      alt="imagen de aplicación"
    />
    <div class="absolute text-white inset-0 flex-col sm:hidden flex justify-end items-start mb-20 ml-10">
      <h1 class="text-5xl font-bold mb-10">VMLAbogados</h1>
      <h2 class="text-xl mb-10">
        Especialistas en Ley Comercial, Litigación, Insolvencia, y Fraude
      </h2>
      <button class="bg-emerald-300 px-20 py-2 rounded-md hover:bg-emerald-900">
        <a class="text-sky-950 font-bold" href="#contacto">Envianos tu caso</a>
      </button>
    </div>
  </div>
</SectionContainer>
