<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Confía en nuestro equipo de abogados especializados para asesoría legal, defensa en casos civiles, penales y laborales. Expertos en resolución de conflictos y representación legal. ¡Protegemos tus derechos con ética y compromiso!"
    />
    <meta
      name="keywords"
      content="Abogados, Defensa Legal, Derecho Penal, Derecho Laboral, Derecho Civil"
    />
    <title>{Astro.props.title}</title>
  </head>
  <body >
    <slot />
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
    font-size: calc(12px + (20.56 - 14) * ((100dvw - 320px) / (2560 - 320)));
    font-family: "Lato";
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  body {
    width: fit-content;
    
  }
  
  @font-face {
    font-family: "Lato";
    src: url("../../public/fonts/Lato-Bold.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
  }

</style>
